* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.container {
    width:825px;
    border:4px black solid;
    margin:50px auto;
    position:relative;
}
.container1 {
    height: 190px;
}
.product-title{
    font-weight: bold;
    font-size:20px;
    background-color:#e5e2e2;
    text-transform: uppercase;
    text-align: center;
    height:40px;
    padding-top:18px;
}
.product_img {
    width:190px;
    height:190px;
    /* float: left; */
}
.product-price{
    font-weight: bold;
    margin: 8px 0 8px 0;
    /* float:left; */
}
.shipping{
    margin-bottom:18px;
    font-size:10px;
    color:#5e5a5a;
    text-transform: uppercase;
    /* float:right; */
    margin-top:10px;
}
.sale{
    text-transform:uppercase;
    color:white;
    font-size:12px;
    background-color:red;
    letter-spacing:2px;
    width:40px;
    padding:7px 15px;
    display: inline-block;
    position:absolute;
    top:-17px;
    left:-35px;
}
.product-descripition{
    margin-bottom:10px;
}

.product-information , .product-information a {
    color:black;
    margin-bottom:10px;
}
.details{
    text-transform:uppercase;
    font-weight: bold;
    margin-top:15px;
}
li{
    margin-bottom: 10px;
}
.list{
    margin:20px 0 0 25px;
    list-style: square;
}
.botton {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    height: 35px;
    padding-top: 14px;
    border-top:4px black solid;
}
.botton:hover{
    text-decoration:underline;
    color: #000;
    background-color: #fff;
    margin-bottom:0;
}
.color{
    display:inline-block;
    height:22px;
    width:22px;
    margin-right:5px;
}
.black{
    background-color:black;
}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
}
.voilet{
    background-color:brown;
}

/* FLOAT SECTION  */

/* .container1{
    width:240px;
    float:left;
}
.container2{
    width:240px;
    float:left;
    margin-top: 12px;
}
#container3{
    width:260px;
    float:left;
    margin-left:50px;
} */

 /* GRID SECTION  */

 .container{
    display:grid;
    grid-template-columns: 190px 1fr 1fr;
    column-gap:40px;
 }
.container2{
     padding-top: 10px;
 }
.rate{
    display:grid;
    grid-template-columns: 50px 100px;
    justify-content: space-between;
 } 
#top-bar{
    grid-column: 1/-1;
}
.botton{
    grid-column:-4/-1;
}
